{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<div class = 'ui grid'>
    <div class = 'row'>
        <div class = 'eight wide column'>
            <h1>Welcome 
                {{user}}
            </h1>
            </div>
            <div class = 'eight wide column'>
                <a href= '{% url 'profile' %}'>
                    <button class = 'ui button '>Profile</button>
                </a>

                <a href= '{% url 'logout' %}'>
                    <button class = 'ui button negative'>Logout</button>
                </a>
                
            </div>

    </div>
</div>
{% endblock content %}